@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dictionary Site</h1>
    <p>"The worlds most trusted dictionary on the planet" - Computing 500</p>
</div>
